/* Start of Mine */
.navbar{
  background-color: rgb(250,50,60);
  margin-bottom: -10px;
  padding-bottom: -10px;
  height: 10px !important;
}

.navbar a{
  color: white;
  font-size: 13px;
  margin-right: 10px;
  margin-top: -3px;
  margin-bottom: 0px !important;
  width: auto;
}

.navbar li{
  margin-top: 5px;
}

.logo a{
  font-size: 28px;
  margin-top: 2px;
  margin-bottom: 0px !important;
}

.who-delivers {
  background: url("images/main-hero.jpg") no-repeat center center;
  background-size: cover;
  color: white;
  text-shadow: black 1px 1px;
  height: 500px;
  padding-top: 150px;
}

.htf{
  background-color: yellow;
}

.WWD{
  width: 200px;
}

.user-image{
  width: 50px;
}

.sound-bites, .why-order{
  background-color: rgb(232, 232, 232);
  margin-left: -20px;
  margin-right: -15px;
}

.media p{
    font-size: 12px;
}

.app{
  width: 200px;
}

.download-apps{
  background: url("images/download-hero.jpg") no-repeat center center;
  background-size: cover;
  color: white;
  text-shadow: black 1px 1px;
  height: 500px;
  padding-top: 100px;
  padding-bottom: 100px;
}

.download-apps p{
  font-size: 18px;
}

.wo-image{
  width: 200px;
  padding-bottom: 20px;
  padding-top: 10px;
}

.about{
  padding-top: 40px;
}

.about p{
  font-size: 12px;
}

.footer{
  background-color: rgb(50,50,170);
}

.footer h4{
  color: white;
  font-size: 18px;
  margin-bottom: 12px;
}

.footer li{
  color: white;
  margin-bottom: 5px;
  font-size: 14px;
}

.ft-form{
  margin-bottom: 5px;
  padding-bottom: 7px;
}

.container{
  width: 100%;
}

/* End of Mine */
body {
  font-family: "Montserrat";
  font-size: 16px;
}

h1, h2, h3, h4 {
  font-weight: 700;
}

.navbar-brand {
  font-family: "Passion One";
  font-size: xx-large;
}

/* My standard vertical spacing classes */

.padding-inside-top-xs {
  padding-top: 10px;
}

.padding-inside-top-sm {
  padding-top: 20px;
}

.padding-inside-top-md {
  padding-top: 50px;
}

.padding-inside-top-lg {
  padding-top: 150px;
}

.padding-inside-top-xl {
  padding-top: 200px;
}

.padding-inside-bottom-xs {
  padding-bottom: 10px;
}

.padding-inside-bottom-sm {
  padding-bottom: 20px;
}

.padding-inside-bottom-md {
  padding-bottom: 50px;
}

.padding-inside-bottom-lg {
  padding-bottom: 150px;
}

.padding-inside-bottom-xl {
  padding-bottom: 200px;
}

.margin-above-top-xs {
  margin-top: 10px;
}

.margin-above-top-sm {
  margin-top: 20px;
}

.margin-above-top-md {
  margin-top: 50px;
}

.margin-above-top-lg {
  margin-top: 150px;
}

.margin-below-bottom-xs {
  margin-bottom: 10px;
}

.margin-below-bottom-sm {
  margin-bottom: 20px;
}

.margin-below-bottom-md {
  margin-bottom: 50px;
}

.margin-below-bottom-lg {
  margin-bottom: 150px;
}

.margin-below-bottom-xl {
  margin-bottom: 200px;
}
